

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#container {
    position: relative;
    width: 800px;
    margin: 20px auto;
    border: 2px solid #333;
    padding: 20px;
}


#blog-post-container {
    position: relative;
    background-color: #f9f9f9;
    padding: 15px;
    margin-bottom: 20px;
}

#blog-post h2 {
    margin: 0;
}

.date {
    position: absolute; 
    top: 10px;
    right: 10px;
    font-size: 12px;
    color: gray;
}


#other-posts {
    background-color: #eee;
    padding: 10px;
}

.other {
    margin: 5px 0;
}


#author-box {
    position: fixed; 
    bottom: 20px;
    right: 20px;
    width: 200px;
    background-color: #fff;
    border: 1px solid #333;
    padding: 10px;
    text-align: center;
}

#author-box img {
    width: 80px;
    border-radius: 50%;
}


h2 {
    position: sticky;
    top: 0;
    background-color: #fff;
    padding: 5px;
    border-bottom: 1px solid #ccc;
}
