div {
    width: 400px;
    border: 2px solid #333;
    background-color: #f0f0f0;
    padding: 20px; /* işte burası kritik */
    margin: 20px auto;
}
h2{
    padding: 20px 40px;
}
p{
    padding: 10px 20px 30px 35px;
}