.box{
    width: 100px;
    height: 100px;
    margin-right: 20px;
    display: inline-block;
    text-align: center;
    line-height: 100px;
    color:white;
}
#first{
    background: red;
    margin:50px 50px;
    }
#second{
    background: blue;
    margin:40px;
}
#third{
    background: green;
    margin:40px 40px 50px 100px;
    }