h1{
    font-family: sans-serif;
    color:darkblue;
}
h2{
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:red;
}
#favorite-colors{
    color:green;
    font-family:sans-serif;
}
#favorite-fonts{
    color:purple;
    font-family: sans-serif;
}
a{
    color:darkmagenta;
    text-decoration: underline;
}
a:hover{
    color:red;
    text-decoration: underline;
}
#favorite-colors li:nth-child(1) { color: blue; }
#favorite-colors li:nth-child(2) { color: red; }
#favorite-colors li:nth-child(3) { color: green; }

#favorite-fonts li:nth-child(1) { font-family: Arial, Helvetica, sans-serif; }
#favorite-fonts li:nth-child(2) { font-family: Georgia, 'Times New Roman', serif; }
#favorite-fonts li:nth-child(3) { font-family: 'Courier New', Courier, monospace; }

